* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color:#222;
    font-size:36pt;
    grid-column: 1 / -1;
    cursor: default;
}
h2 {
    grid-column: 1 / -1;
}
.dark body {
    background-color: #222;
}
.dark h1, .dark h2 {
    color:#fafafa;
}
.black body {
    background-color: #000;
}
.black h1, .black h2 {
    color:#fafafa;
}
body {
    display: grid;
    grid-template-columns: 1;
    align-items: start;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color:#fafafa;
    grid-template-rows: 100vh;
    overflow-y:hidden;
}
.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    align-items: start;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    position: relative;
    grid-auto-rows: min-content;
    width:100%;
    height:100vh;
    overflow-y:auto;
    position:relative;
}
.item {
    width:100%;
    background: linear-gradient(to right, var(--grad-start), var(--grad-end));
    top:0px;
    left:0px;
    color:white;
    border-radius:4px;
    display: inline-block;
    position: relative;
    transition: transform .5s ease-out, width .5s ease-out, height .5s ease-out;
    cursor:pointer;
    * {
        padding-left:16px;
    }
}
.item:after {
	position: absolute;
	z-index: -1;
    top: 10px;
    left:0px;
	width: 100%;
	height: 100%;
	background: inherit;
	content: '';
    box-shadow: inset 0 0 .5em .5em #fafafa;
}
.dark .item:after {
    box-shadow: inset 0 0 .5em .5em #222;
}
.black .item:after {
    box-shadow: inset 0 0 .5em .5em #000;
}
.moreButton {
    position:absolute;
    top:20px;
    right:20px;
    font-size:1.5em;
}
#audioControls {
    width:100%;
    height:32px;
}
#bottomBar {
    position:fixed;
    bottom:-112px;
    transform: translateY(var(--drag, 0px));
    left:0px;
    width:100%;
    height:112px;
    background-color: #fff;
    box-shadow:0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    transition: bottom .5s ease-out;
}
#bottomBar.playing {
    bottom:0px;
}
#bottomBar > p {
    height:16px;
    text-align:center;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('/src/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
      url('/src/iconfont/MaterialIcons-Regular.woff') format('woff'),
      url('/src/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor:pointer;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.dialog {
    position: fixed;
    background-color:#fafafa;
    width:480px;
    //min-height:360px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index:7;
    border-radius:8px;
}
.dialogContainer {
    display:none;
}
.dialogContainer[open]{
    display:initial;
}
.bgeffect {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 480px) {
    .page {
        grid-template-columns: repeat(auto-fit, minmax(1px, 480px));
    }
    .dialog {
        width:90%;
    }
}